[2018-06-14 08:21] GameBelial opened #1 "增加请求代理功能"
因为对于网易云接口进行歌词下载的时候有时候会导致服务不可用的情况，能够让用户提供一个代理池，程序根据这个代理池来下载歌词。

[2018-06-14 08:23] GameBelial opened #2 "使程序支持专辑图像替换"
如题。

[2018-08-19 09:34] linchenyejk opened #3 "长久以来的感谢"
用这个工具很久了，让我获取歌词方便了不少，非常感谢。
由于一直用的是旧版，现在下载歌词（特别是网易里带翻译的歌词，下载下来的歌词排版会有问题）
虽然能用，但非常不方便进行修改操作
![1](https://user-images.githubusercontent.com/16831473/44307478-c0a1f080-a3d5-11e8-97a7-e675ef3a7326.jpg)
也许新版已经修复了这个功能吧？但我已经在这主页找不到更新的链接了。
能否提供解决此问题的方法或者添加新版的更新方式呢？

[2018-08-22 06:56] GameBelial commented on #3
在此处拥有最新的下载链接：
https://github.com/GameBelial/ZonyLrcToolsX/releases
或者你可以加入 QQ 群(337656932)进行交流。

[2018-08-22 06:56] #3 closed

[2018-09-23 05:16] GameBelial opened #4 "增加文件夹拖拽搜索功能"

[2018-09-23 05:39] GameBelial commented on #4
参考 b9d04ebe6193587716d0b502dd09a88bde24dd17 已经解决本问题.

[2018-09-23 05:39] #4 closed

[2018-10-14 08:58] Naexen opened #5 "如何更换歌词源至qq音乐"
以及添加图片源选择，图片选择，歌词来源/歌词标签等

[2018-10-14 08:59] Naexen commented on #5
有部分歌曲网易云不支持的直接就下载了完全不相关的图片和歌词，一个个校对比较繁琐

[2018-10-15 02:01] GameBelial commented on #5
QQ 音乐源目前没有做相应的适配，该功能可以放到 0.1.9 再做更新.

[2018-10-19 07:40] lim0513 opened #6 "后期生成命令行存在问题"
第一次下载时exe文件夹下没有plugins目录，会导致复制文件到plugins文件上，而不是建立文件夹。
原命令：
copy $(TargetPath) $(SolutionDir)\ZonyLrcTools\bin\Debug\Plugins
copy $(TargetPath) $(SolutionDir)\ZonyLrcTools\bin\Release\Plugins
建议修改为：
xcopy $(TargetPath) $(SolutionDir)\ZonyLrcTools\bin\\$(ConfigurationName)\Plugins\

另外建议nuget里把主工程也引用【taglib】包，可以避免手动复制相关DLL到输出目录。

[2018-10-19 07:59] lim0513 commented on #6
我个人非常喜欢这个工具，给音乐播放器灌歌后直接简单运行以下就能导入歌词了，真是非常方便。希望作者能够坚持维护下去，我也愿意对项目贡献一些力量，虽然很微薄。感谢作者！

[2018-10-20 11:00] GameBelial commented on #6
感谢你的意见，已经 update ，也希望这个工具能够帮助到你。

[2018-10-20 11:01] GameBelial commented on #6
当然如果你想贡献代码的话，可以 fork 本项目，提交你的更改到你的远程 Git 仓库，然后通过提交 PR 与我的主分支合并。

[2018-10-20 11:01] #6 closed

[2018-11-12 07:01] andyz168 opened #7 "支持flac专辑歌词搜索"
1.获取flac有几首歌曲
2.下载歌词
3.合并歌词

[2018-11-15 04:16] GameBelial commented on #7
OK，该功能预计在 0.1.9.0 推出。

[2018-11-18 03:32] dearCorazon opened #8 "请问在哪里下载运行呢"

[2018-11-18 12:47] GameBelial commented on #8
如果是二进制版本的话，在 [Release](https://github.com/GameBelial/ZonyLrcToolsX/releases) 有下载。

[2018-11-18 12:47] #8 closed

[2018-11-26 09:00] yu037991 opened #9 "怎么使用啊？"
releases中下载的压缩包里面的东西需要编译才能使用吗？找不到软件的打开入口...

[2018-12-01 12:20] GameBelial opened #10 "增加 NCM 格式转换插件"
如题.

[2018-12-02 07:42] GameBelial commented on #10
关闭问题: https://github.com/GameBelial/ZonyLrcToolsX/commit/aa7f97b5fe784a107e50e62a699ad45f285e33df

[2018-12-02 07:42] #10 closed

[2018-12-02 07:46] GameBelial opened #11 "部分歌词下载乱码"
部分歌词下载时出现翻译歌词乱码的情况.
![a1](https://user-images.githubusercontent.com/3907132/49337135-60b01c80-f649-11e8-8a44-2930582319e2.png)

[2018-12-03 13:00] YunhaoJiang opened #12 "输出lrc时间轴未排序"
`[00:00.00] 作曲 : 米津玄師
[00:19.64]那天所眺望的海岸
[00:01.00] 作词 : 米津玄師
[00:24.50]直至今日仍能想起
[00:19.64]あの日見渡した渚を
[00:29.50]在沙滩上刻下的话语
[00:24.50]今も思い出すんだ
[00:34.60]和你的背影
[00:29.50]砂の上に刻んだ言葉
[00:39.64]涌动的波浪
[00:34.60]君の後ろ姿
[00:42.86]掠过脚边究竟掠走了什么
[00:39.64]寄り返す波が
[00:49.58]风平浪静之中
[00:42.86]足元をよぎり何かを攫う
[00:53.00]只有黄昏悄悄地流逝
[00:49.58]夕凪の中
[00:59.33]光芒怦然绽放
[00:53.00]日暮れだけが通り過ぎて行く
[01:02.30]烟花映入眼帘
[00:59.33]パッと光って咲いた
[

[2018-12-04 13:13] GameBelial commented on #12
@YunhaoJiang 针对于你所提出的问题，在最新版本中是将翻译歌词与原文歌词合并为一个时间轴的。请尝试一下 Release 当中的最新版本.

[2018-12-04 14:39] YunhaoJiang commented on #12
已经是最新版本了 但时间轴仍然有问题

[2018-12-04 14:45] YunhaoJiang commented on #12
[01 - 打上花火.txt](https://github.com/GameBelial/ZonyLrcToolsX/files/2644482/01.-.txt)
[02 - Forever Friends.txt](https://github.com/GameBelial/ZonyLrcToolsX/files/2644483/02.-.Forever.Friends.txt)

[2018-12-04 15:03] GameBelial commented on #12
@YunhaoJiang 好的，这边我重现一下该问题.

[2018-12-09 08:35] GameBelial commented on #1
已完成。
- https://github.com/GameBelial/ZonyLrcToolsX/commit/7823cba1e585297a4745ccdd111b075cb1acf43b

[2018-12-09 08:35] #1 closed

[2018-12-09 09:44] GameBelial commented on #2
已完成。
- https://github.com/GameBelial/ZonyLrcToolsX/commit/1b91ed872678b06a5cd93dd252bac19d0c88e736

[2018-12-09 09:44] #2 closed

[2018-12-09 13:05] YunhaoJiang opened #13 "歌词时间轴格式不一致导致 Walkman 无法正常显式歌词"
************** 异常文本 **************
System.ArgumentNullException: 值不能为 null。
参数名: 源歌词文本数据为空，请传入有效文本。
   在 Zony.Lib.Infrastructures.Lyrics.LyricItemCollection..ctor(String srcLyricText)
   在 Zony.Lib.NetEase.Startup.DownLoad(String songName, String artistName, Byte[]& data)
   在 ZonyLrcTools.Events.LyricDownLoadEvent.<>c__DisplayClass3_0.<HandleEvent>b__1(MusicInfoModel info, ParallelLoopState loopS

[2018-12-09 14:36] GameBelial commented on #13
该问题已经修复了...请尝试[ Release 最新版本](https://github.com/GameBelial/ZonyLrcToolsX/releases/tag/0.1.9.3-201812092233).

[2018-12-09 15:52] YunhaoJiang commented on #13
@GameBelial 似乎还有些问题...
************** 异常文本 **************
System.ArgumentException: Could not cast or convert from System.String to Zony.Lib.Net.JsonModels.NetEase.NetEaseInnerResultModel.
   在 Newtonsoft.Json.Utilities.ConvertUtils.EnsureTypeAssignable(Object value, Type initialType, Type targetType)
   在 Newtonsoft.Json.Utilities.ConvertUtils.ConvertOrCast(Object initialValue, CultureInfo cultur

[2018-12-10 05:07] YunhaoJiang commented on #13
@GameBelial
下任何歌曲的时候都有这个问题

[2018-12-10 08:40] GameBelial commented on #13
@YunhaoJiang 能够随便上传一首有问题的歌曲么，我这边好做测试。

[2018-12-10 10:55] YunhaoJiang commented on #13
@GameBelial 不知是否我这里的问题 所有歌曲似乎都无法下载歌词
链接: https://pan.baidu.com/s/1m3alpQpPnTesq-xdM3ZZEw 提取码: fidj

[2018-12-10 11:22] YunhaoJiang commented on #13
已经通过重启解决 但似乎文件输出上有问题 输出的文件无法被Walkman读取 不管将里面的歌词改成什么样 但如果自己通过txt写歌词如`[00:00:00]test`就可以显示 而软件输出的不行

[2018-12-10 12:16] GameBelial commented on #13
@YunhaoJiang 是因为软件输出的格式为 [00:00.00] 的原因么？

[2018-12-10 14:22] YunhaoJiang commented on #13
我测试了一下 不单单是这样 还有开头少0的问题
软件输出的全部都是`[1:59.59]`  这种`[X:XX.XX]`格式
将其全部替换为`[01:59:59]`这种`[XX:XX:XX]`格式即可正常显示
望修复 谢谢！

[2018-12-11 01:10] GameBelial commented on #13
OK，了解了，我今天抽时间看一下。

[2018-12-11 13:47] YunhaoJiang commented on #13
好的 麻烦了

[2018-12-11 13:56] GameBelial commented on #13
@YunhaoJiang 你尝试一下这个版本呢，看是否能够解决你的问题。
[ZonyLrcToolsX 0.1.9.3-201812112154.zip](https://github.com/GameBelial/ZonyLrcToolsX/files/2667837/ZonyLrcToolsX.0.1.9.3-201812112154.zip)

[2018-12-11 14:37] YunhaoJiang commented on #13
嗯嗯 看起来已经解决了

[2018-12-11 14:43] YunhaoJiang commented on #13
经过批量测试 已经可以正常显示 非常感谢！

[2018-12-11 14:43] #13 closed

[2018-12-12 01:16] toniexly opened #14 "新版本avast报毒"
版本0.1.9.1.x64

[2018-12-12 01:56] GameBelial commented on #14
是所有文件提示有病毒还是说主程序 EXE 提示有病毒呢？

[2018-12-16 07:32] #14 closed

[2018-12-17 03:12] swang93 opened #15 ".NET 报错"
<code>
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ArgumentException: Could not cast or convert from System.String to Zony.Lib.Net.JsonModels.NetEase.NetEaseInnerResultModel.
   at Newtonsoft.Json.Utilities.ConvertUtils.EnsureTypeAssignable(Object value, Type initialType, Type targ

[2018-12-17 05:46] GameBelial commented on #15
了解，我这边抽时间看一下。

[2018-12-26 16:47] SGREYCN commented on #13
好像最新的ZonyLrcToolsX.0.1.9.3-201812092233这个版本时间轴格式又变回X:XX:XX了

[2019-01-07 17:19] ligan92 opened #16 "下载歌词程序报错：应用程序中发生了未经处理的异常"
下载Panda Eyes - Fuck Off纯音乐歌词时报错

ZonyLrcTools X-Version：0.1.9.3X
应用程序中发生了未经处理的异常。如果单击“继续”，应用程序将忽略此错误并尝试继续。如果单击“退出”，应用程序将立即关闭。
未将对象引用设置到对象的实例。。

详细信息：

有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.NullReferenceException: 未将对象引用设置到对象的实例。
   在 Zony.Lib.NetEase.Startup.GetLyricJsonObject(Object postParam)
   在 Zony.Lib.NetEase.Startup.DownLoad(String songName, Strin

[2019-01-08 04:42] GameBelial commented on #16
好的，我查看一下问题。

[2019-01-17 07:22] GameBelial commented on #16
@ligan92 请尝试一下 **[这个](https://github.com/GameBelial/ZonyLrcToolsX/releases/tag/0.1.9.3-201901171235)** 预览版本，看是否解决了你的问题。

[2019-01-17 07:48] ligan92 commented on #16
您好，我刚刚测试了之前的歌曲，问题已解决，谢谢 : )

[2019-01-19 06:15] GameBelial commented on #16
https://github.com/GameBelial/ZonyLrcToolsX/commit/0726ebbb8a0fc19de7142c22e38bf7d69325bad8

[2019-01-19 06:15] #16 closed

[2019-01-19 08:28] Yulining0 opened #19 "所有歌曲文件都无法找到歌词"
![default](https://user-images.githubusercontent.com/39211548/51424347-4b964980-1c07-11e9-9582-13250198ab7d.PNG)
就像这样，是怎么回事呢？

[2019-01-19 10:46] GameBelial commented on #19
![image](https://user-images.githubusercontent.com/3907132/51425673-4abae300-1c1a-11e9-8b56-d5dcd9f7cc88.png)
我这边测试是正常的哦，你新建一个文件夹，只存放几首歌曲文件再试呢，或者访问一下：[http://music.163.com/api/search/get/web](http://music.163.com/api/search/get/web) 地址，看是否是提示 503 错误。

[2019-01-21 15:33] dshame opened #20 "下载网易云歌单歌词是出错。就是歌单id超出int型定义长度，报错。"
![image](https://user-images.githubusercontent.com/26822775/51483629-813c5d80-1dd4-11e9-894e-c60b7ab890e3.png)

下载源代码编译，稍微做了一些修改，，具体的我也没细看。。。简单的将int 变成string 成功下载网易云歌单歌词。作者可以借鉴一下。。。 cs文件  startup.cs 希望有用。

      private async void _button_Click(object sender, System.EventArgs e)
        {
            GlobalContext.Instance.UIContext.DisableTopButtons();
            ClearAllContainer();

[2019-01-23 08:13] GameBelial commented on #20
3q，已经做了更改，当然后面有其他功能性上的修改可以提交 PR，更加方便哦~😂

[2019-01-23 08:13] #20 closed

[2019-01-24 14:01] GameBelial commented on #15
已经长时间没有反馈，将问题关闭，如果有任何疑问请再次打开。

[2019-01-24 14:01] #15 closed

[2019-04-10 06:28] ligan92 opened #21 "增加拖拽音乐入库功能"
建议作者大大增加直接拖拽音乐入库的功能。
有时音乐mp3所在目录较深，点击“扫描歌曲”设置路径需逐层点击才能找到目标路径，操作起来不太方便。作者能否考虑增加直接批量拖动音乐文件进软件的功能呢？Win10运行软件，拖动音乐进来，显示快捷方式的箭头图标，但文件没有拖入成功。使用管理员模式运行，拖动时是禁止图标，亦无法完成拖动入库的操作。
谢谢 ^.^

[2019-04-10 09:28] GameBelial commented on #21
@ligan92 文件夹拖拽原生是支持的，该功能我之前有测试过，我这边再看一下是什么情况。

[2019-04-10 09:43] ligan92 commented on #21
好的，谢谢您。我刚刚测试了文件夹拖动，是可行的，文件夹内的歌曲可以正常识别。如果支持文件拖动就更好啦。

[2019-04-17 11:29] GameBelial commented on #21
文件拖动这块我看一下;

[2019-04-18 03:59] real-zony commented on #21
@ligan92 已经更新，参考 [https://github.com/GameBelial/ZonyLrcToolsX/releases/tag/0.1.9.3-201904181157](https://github.com/GameBelial/ZonyLrcToolsX/releases/tag/0.1.9.3-201904181157) 。

[2019-04-18 03:59] #21 closed

[2019-04-18 04:00] real-zony commented on #19
长时间没有回复，关闭此问题，如果仍然有疑问可以随时开启。

[2019-04-18 04:00] #19 closed

[2019-04-18 16:04] ligan92 commented on #21
谢谢您。您提供的链接内有更新后的源代码，请问可否提供编译后的可执行文件呢？或者只需在之前版本可执行文件上添加一些源代码文件？技术小白，请多指教。谢谢

[2019-04-19 02:47] real-zony commented on #21
@ligan92 已经补全二进制文件，名称叫 ZonyLrcToolsX.0.1.9.3-201904181157.zip，还是那个 Release 连接。

[2019-04-19 03:32] ligan92 commented on #21
谢谢您的回复和更新，已下载新版程序，测试拖拽音乐入库功能成功 : D

[2019-04-22 04:44] bkk-z1 opened #22 "点击.exe文件无反应"
需要额外安装什么吗

[2019-04-23 05:33] real-zony commented on #22
@SilvesterKwok 需要安装 [.NET Framework 4.7.2 ](https://support.microsoft.com/en-us/help/4054530/microsoft-net-framework-4-7-2-offline-installer-for-windows)。

[2019-04-23 05:34] #22 closed, assigned to real-zony

[2019-05-01 16:25] Jesse1uo opened #23 "1.9以后的版本都打不开但是1.8的可以正常使用"
.Net Framework 4.8安装的时候显示

“这台计算机中已经安装了 .NET Framework 4.8 或版本更高的更新。”

……所以应该不是这方面的问题

[2019-05-02 10:46] #23 closed, assigned to nobody

[2019-05-05 11:29] ysssgdhr opened #24 "对ncm格式歌曲进行转换格式时，出现批量大部分特定歌曲转换失败的情况。"
对ncm格式歌曲进行转换格式时，出现批量大部分特定歌曲转换失败的情况。

[2019-05-05 11:34] ysssgdhr commented on #24
<img width="860" alt="屏幕快照" src="https://user-images.githubusercontent.com/24486813/57193359-be37f480-6f6c-11e9-9cb2-c43c9e69dd6d.png">

[2019-05-05 15:17] real-zony commented on #24
@ysssgdhr 这部分失败的歌曲能否发一个出来呢？

[2019-05-09 03:00] thrasher150306 opened #25 "为什么双击exe没反应呢？是win10"

[2019-05-09 03:00] thrasher150306 opened #26 "为什么双击exe没反应呢？是win10"

[2019-05-11 13:33] real-zony commented on #25
@thrasher150306 是否安装了 .NET Framework 4.7.2 的运行时呢？

[2019-05-11 13:34] real-zony commented on #26
问题与 #25 重复。

[2019-05-11 13:34] #26 closed, assigned to real-zony

[2019-05-14 16:00] thrasher150306 commented on #25
安装了

[2019-05-18 12:32] Baka943-0v0 commented on #15
有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.NullReferenceException: 未将对象引用设置到对象的实例。
   在 Zony.Lib.NetEase.Startup.GetLyricJsonObject(Object postParam)
   在 Zony.Lib.NetEase.Startup.DownLoad(String songName, String artistName, Byte[]& data)
   在 ZonyLrcTools.Events.LyricDownLoadEvent.<>c__DisplayClass3_0.<HandleEvent>b__1(MusicInfoModel info, ParallelLoopState l

[2019-05-19 07:53] real-zony commented on #25
@thrasher150306 是否是全部解压运行的呢？可以尝试不要放在桌面，放在其他磁盘下，看是否工作正常？

[2019-05-24 10:59] zdanlan commented on #25
我也遇到了这个问题，点击后进程会出现，无任何界面，稍后进程自动结束，建议再排查一下原因。
遇到问题的系统为win10，确定已安装 .NET Framework 4.7.2，在桌面和盘符下文件夹状况一样。
试过0.1.9.0~3均一样，但是0.0.3.0版本可打开。
在本人另外一台win10电脑上最新版0.1.9.3-201904181157能正常使用。

[2019-05-24 11:12] thrasher150306 commented on #25
都试过了

[2019-05-25 01:52] real-zony commented on #25
@thrasher150306 @zdanlan 好的，我在其他系统进行测试一下，因为这种情况我几个系统都没有遇到过。

[2019-05-26 05:02] RoderickQiu commented on #14
主程序到现在还在报毒 之前加白名单现在又报毒

[2019-05-26 05:05] RoderickQiu commented on #14
再加一次就又能用了
报Adware和IDP.Generic

[2019-05-26 05:09] RoderickQiu opened #27 "最新版歌词获取有问题"
[code]
[code]
时间线都坏了。
顺序也乱了，可以参考：
[code]

[2019-05-26 05:13] RoderickQiu commented on #27
[code]
老版本（ZonyLrcDownload3）反而没问题
是秒获取的问题吗

[2019-05-26 06:03] RoderickQiu commented on #27
此外，在sony设备上，下载下来的lrc很多时候无法显示，因为换行符是lf不是crlf，有这个选项吗

[2019-05-28 03:36] real-zony commented on #27
@RoderickQiu 该歌曲名字和作者能发一下么？我这边测试一下，关于换行符的选项后续我可以加上去。

[2019-05-28 06:13] RoderickQiu commented on #27
犴达罕 - 陈鸿宇

目前的问题是很多歌似乎都有这个问题……

[2019-05-28 06:13] RoderickQiu commented on #27
看不懂.net 所以您加油……

[2019-06-21 08:53] ligan92 opened #28 "歌曲名称乱码 下载歌词匹配错误"
您好，尝试下载 李丽芬 - 爱江山更爱美人.mp3 歌词出错
歌曲文件下载链接: https://pan.baidu.com/s/1at-nyK-gdjJcBOkq6wZJcg
提取码: 6xy6 （有效期至19.06.27)

软件显示乱码
标题：°®½­É½¸ü°®ÃÀÈË
歌手：ÀîÀö·Ò
专辑：¾ÍÕâÑùÔ¼¶¨

下载歌词结果为无关俄语歌词：
[00:17.58]Накал судьбы, лета печали  命运的光芒，夏日的悲伤（歌名：ольга）
恳请解决 谢谢

[2019-06-21 11:35] RoderickQiu commented on #28
有时候确实会获取错

[2019-06-23 07:51] real-zony opened #29 "重构底层代码，移除插件体系与无关的代码"
在之前的版本中，加入了许多不稳定的测试性代码，可能会导致程序出现某些异常情况。所以在新版本当中，需要将这些不稳定代码进行移除。
插件由于现在都是作者一个人进行开发，所以没有太大的必要保留插件体系。后续的功能将会随着主程序一起更新，但还是会分为单独的库进行开发。

[2019-06-23 07:53] real-zony commented on #24
因长时间没有反馈问题信息，现将问题关闭，如果后续有其他疑问，可以再次开启本 Issue。

[2019-06-23 07:53] #24 closed, assigned to real-zony

[2019-06-23 07:55] real-zony opened #30 "增加对高分屏的支持"
年初换了个 2K 屏，京东 618 的时候又买了个 4K 屏，发现程序在高分屏环境运行的时候，体验极差。需要对程序增加对高分屏/高 DPI 的支持。

[2019-06-23 07:57] real-zony opened #31 "解决原有跨线程访问控件的骚操作"
因为原来为了省事，直接将主窗口的 `CheckForIllegalCrossThreadCalls` 属性设置为了 `false`。这个操作直接导致某些奇怪的 BUG 产生，在新版本当中，需要移除这些非线程安全的代码。

[2019-06-23 08:02] real-zony opened #32 "增加歌词共享(贡献)功能"
这个功能我一直想做，但由于工作等原因，一直没有在工具里面进行实现。

想要做这个功能的初衷，是因为网易云音乐等歌词源不知道什么时候会封掉这些 API。另一方面的原因，则是某些冷门歌曲是没有歌词的，这个时候用户就可以贡献自己的歌词数据。

所以想要建议一个歌词分享平台。有了分享平台之后，即便没有了其他的歌词源，也能够依靠分享平台为大家提供歌词下载服务。

[2019-06-23 08:05] real-zony opened #33 "优化音乐标签提取功能"
音乐标签及音乐信息的读取，我是使用的 taglib 库。不过在软件的使用过程当中，很多用户反馈说歌曲信息乱码(#28 )，从而导致歌词下载失败。

所以在新版本里面，我将针对这块标签提取功能进行重点优化。

[2019-06-23 08:16] real-zony opened #34 "补全缺失的单元测试"
原来喜欢偷懒...不喜欢写单元测试，1.0 会补上所有功能的单元测试。

[2019-06-30 13:20] real-zony opened #35 "添加超时下载处理"
如果遇到歌词下载超时的情况，可以视情况进行超时跳过处理。

[2019-07-05 15:27] Mioioioio opened #36 "Win10无法打开该应用程序"
进程页面会出现已停止然后进程结束，不知为何，net framework已经装至最新版本

[2019-07-06 18:21] lastwatch opened #37 "下载歌词程序报错"
无法下载歌词：
![image](https://user-images.githubusercontent.com/52607939/60759826-263ab200-a066-11e9-999c-f908f40484f5.png)

ZonyLrcTools X-Version：ZonyLrcToolsX.0.1.9.3
应用程序中发生了未经处理的异常。如果单击“继续”，应用程序将忽略此错误并尝试继续。如果单击“退出”，应用程序将立即关闭。

Could not cast or convert from System.String to Zony.Lib.Net.JsonModels.NetEase.NetEaseInnerResultModel。

有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 ********

[2019-07-06 18:28] lastwatch opened #38 "双语歌词建议"
建议能像ZonyLrcTools 0.0.3.0版一样，添加自行选择是否下载翻译歌词的选项，
望考虑，非常感谢。

[2019-07-07 09:31] real-zony commented on #36
@Mioioioio 有详细的报错截图么？请确认是否是完全解压程序运行的。

[2019-07-07 09:32] real-zony commented on #38
@lastwatch 正在开发的 1.0 版本当中是可以进行选择的，请等待更新。

[2019-07-07 09:34] real-zony commented on #37
@lastwatch 该异常可能是由于网络问题引起的，目前版本某些异常没有做详细提示，请确认一下是否关闭了 VPN/代理 软件。

[2019-07-07 11:13] real-zony commented on #25
长时间未回复，关闭问题，如果有疑问请重新打开问题。

[2019-07-07 11:13] #25 closed, assigned to real-zony

[2019-07-12 08:43] ghost commented on #37
感谢😀

[2019-07-13 06:23] lastwatch commented on #37
并未在使用VPN和代理，但肉身在墙外，是否因此出现网络问题？
我回国以后再试试，非常感谢。

[2019-07-14 13:27] real-zony commented on #37
@lastwatch 网易云音乐因版权问题禁止非国内 IP 访问，请使用国内代理再行测试。

[2019-07-14 13:27] #37 closed, assigned to real-zony

[2019-07-15 05:13] Mioioioio commented on #36
的确完全解压程序运行，双击应用程序不出现弹窗，查看任务管理器，该进程也仅会短暂出现，然后显示已停止，进程结束

[2019-07-16 04:00] real-zony commented on #36
@Mioioioio 你使用的是最新的 Release 版本么？这块因为我在 Windows 10 几个版本都测试过，是可以正常打开的。或者放在其他盘完全解压运行试一下，另外 Plugins 要与 EXE 文件在一起哦。

[2019-07-16 11:48] real-zony commented on #5
See https://github.com/GameBelial/ZonyLrcToolsX/commit/c5c65aabcf3c8c6b97dde2b1305e8039845fe9e8

[2019-07-16 11:48] #5 closed

[2019-07-16 12:42] real-zony commented on #27
![image](https://user-images.githubusercontent.com/3907132/61295222-237c5180-a80a-11e9-80fb-843496e4cb2d.png)
@RoderickQiu 该问题已经在最新的 v1.0 版本中解决，请等待后续更新。

[2019-07-16 12:42] #27 closed, assigned to real-zony

[2019-07-16 12:43] real-zony commented on #28
@ligan92 抱歉，最近才有时间看该问题，能否重新分享一下歌曲源文件呢？

[2019-07-16 12:44] real-zony commented on #30
使用 `SetProcessDPIAware();` Win32 API 提供对高 DPI 屏幕的支持。

[2019-07-16 12:44] #30 closed, assigned to real-zony

[2019-07-16 13:56] ligan92 commented on #28
您好，谢谢回复。我更新了歌曲源文件链接：链接：https://pan.baidu.com/s/1Qgg4Um0FYbWSnGjJ1z4JZg
提取码：54fu （7天后失效）
我再次用软件下载歌词，这次下载的歌词能够匹配上，但前半部分是乱码。时间轴和后半部分歌词是准确的。

[2019-07-22 18:16] zlf179 opened #39 "无法下载专辑歌词"
如图所示
![屏幕截图(23)](https://user-images.githubusercontent.com/26280126/61654822-8adc4a80-acbd-11e9-98a8-ee465c49c136.png)

下面是详细信息

有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.ArgumentException: Could not cast or convert from System.String to Zony.Lib.Net.JsonModels.NetEase.NetEaseInnerResultModel.
   在 Newtonsoft.Json.Utilities.ConvertUtils.EnsureTypeAssignable(O

[2019-07-23 10:51] real-zony commented on #39
该问题可能是由于网络引起的...请检查是否启用网络代理软件，或者运行软件的电脑 IP 已经被网易云音乐限制访问。

[2019-07-23 10:54] zlf179 commented on #39
我在国外 这里的确是被网易云地区问题版权限制了 但是我用了一个国内代理 他还是报错诶  同一个代理地址 我在网易云内使用 所有歌都能听

[2019-07-23 11:03] real-zony commented on #39
那你可以在软件的网络代理设置里面配置本地代理。
以 SSR 为例，我可以在全局设置里面启用本地代理：
![image](https://user-images.githubusercontent.com/3907132/61707173-6b582700-ad7c-11e9-8ac8-d17922e2ee01.png)
![image](https://user-images.githubusercontent.com/3907132/61707188-74e18f00-ad7c-11e9-8115-4e4aafb51690.png)
那么你可以在软件里面设置代理服务器 IP：127.0.0.1 ，端口 1080 之后再进行测试。

[2019-07-26 03:52] chonghai commented on #28
我也遇到乱码的问题，估计是MP3标签识别的问题。用其它软件看标签是正常的。
希望能尽快修正，谢谢。

[2019-08-07 17:24] MusculusMus opened #40 "未经处理的异常"
![image](https://user-images.githubusercontent.com/37739300/62643514-c3ab2f00-b90d-11e9-8de8-475199723697.png)

有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.ArgumentException: Could not cast or convert from System.String to Zony.Lib.Net.JsonModels.NetEase.NetEaseInnerResultModel.
   在 Newtonsoft.Json.Utilities.ConvertUtils.EnsureTypeAssignable(Object value, Type

[2019-08-09 05:05] real-zony commented on #40
@MusculusMus 请参考问题 #37 看是否是因为网络原因导致的。另一种原因是因为没有完全解压运行软件导致的。

[2019-08-14 05:32] ghost opened #41 "周杰伦的歌 lrc与歌曲不同"
150多首周董的歌，大多都是歌词与歌曲不同。是不是网易云自己的问题？

![捕获](https://user-images.githubusercontent.com/20292195/62996930-1d28d600-be99-11e9-8b82-19fce3d8946f.PNG)

[2019-08-14 05:44] ghost commented on #41
日志中无输出

[2019-08-14 06:59] ghost commented on #41
编译运行1.0版本，结果发现不能下载任何一首歌曲

[2019-08-14 13:09] real-zony commented on #41
@pechpo 1.0 版本目前还没有完成开发，请使用 Release 的 0.19 版本。如果是歌曲无法正常下载 Lyric 歌词，请上传一两首歌曲我这边做一下测试。

[2019-08-15 01:48] ghost commented on #41
[歌曲样本.zip](https://github.com/GameBelial/ZonyLrcToolsX/files/3503973/default.zip)

[2019-08-15 01:48] ghost commented on #41
我怀疑是网易云没有配套歌词 @GameBelial

[2019-08-15 04:11] real-zony commented on #41
@pechpo emmm，有可能，周董的歌不是都下架了么，这边我再看看。

[2019-08-18 13:14] tomszheng commented on #38
@lastwatch , 今天我刚好需要下载歌词，试了一下 `0.1.9.3-201904181157`， 里面现在是可以选择不下载翻译的歌词的。只需要把插件下载里面的IsOpenTransLyric给修改一下就可以了。

[code]

只是目前重新生成的lrc里面还会有上一次的内容，再优化一下就更完美了。

[2019-08-18 13:31] tomszheng commented on #32
Hello @GameBelial , 我个人觉得这个工作量或许太大了，毕竟世界上的歌曲那么多，建立单个平台并不太可能。

我个人的建议是，提供一个 lyric source 的接口给大家。 例如 apt-get 的 source 一样。 大家只要遵守接口的调用规则及歌词的文件格式等就可以了。 你这里的接口功能完善之后，只需要不断地添加别人的 source 就可以了。

现在的情况或许是：你使用别人的歌词源API，或许需要每一个单独去实现，从而从不同的歌词源下载歌词。 **但是，你也可以定义一个这个项目所独有的API， 结合你对现有API的理解，制定一个歌词接入规则，让别的想要提供歌词的小伙伴follow你的idea。**

也就是说，我个人建议：提供一个歌词源的接口，而没有必要你自己去创建曲库什么的。

[2019-08-19 05:35] #38 closed, assigned to real-zony

[2019-08-20 09:31] lastwatch commented on #38
非常感谢，没问题了

[2019-08-23 04:40] real-zony commented on #40
长时间未回复，关闭问题。

[2019-08-23 04:40] #40 closed, assigned to real-zony

[2019-08-23 07:39] real-zony commented on #32
@tomszheng 目前的想法也是这样，会有公开的 API 接口。另外在下载时，程序也会主动上传对应的 Lyric 文件丰富资源库。

[2019-09-24 11:52] ricepeak commented on #36
亲测可用
https://gitee.com/jokers/ZonyLrcTools
下载其中的发行版
![image](https://user-images.githubusercontent.com/50504651/65509220-8b36d300-df04-11e9-8477-060a7811b559.png)
解压后以管理员身份运行，注意别更新版本；
如果第二次打不开，结束任务管理器相关进程，并删除解压文件夹的`Logfiles`文件夹。

[2019-09-25 12:46] #36 closed, assigned to real-zony

[2019-09-30 13:28] ChiseHatori opened #42 "An Unknow Error of 0.1.9.3-201904181157 Vr."
************** 异常文本 **************
System.AggregateException: 发生一个或者多个异常，调用失败，SingleMusicInfoLoadEventData ---> System.Reflection.TargetInvocationException: 调用的目标发生了异常。 ---> System.ArgumentOutOfRangeException: InvalidArgument=“0”的值对于“index”无效。
参数名: index
   在 System.Windows.Forms.ListView.SelectedListViewItemCollection.get_Item(Int32 index)
   在 ZonyLrcTools.Events.SingleMusicInfoLoadEvent.HandleE

[2019-09-30 13:33] ChiseHatori commented on #42
Just pop up constantly..
And some songs do have caption on NeteaseMusic just couldn't found by the app😶😶
and Wish U GL..70th anniversary 2morrow😉

[2019-10-02 07:11] #29 closed, assigned to real-zony

[2019-10-02 07:12] #39 closed, assigned to real-zony

[2019-10-03 10:03] real-zony commented on #30
因为 WinForm 对 HiDPI 的支持及其不友好，为了兼顾 1080P 显示器，还是以原有的方式进行布局。

如果你是 4K 及其以上的高分屏，可以右键 EXE->选择兼容性->更改高 DPI 设置->替代高 DPI 缩放行为->应用程序。

![image](https://user-images.githubusercontent.com/3907132/66118025-fae54600-e607-11e9-80c3-ca975d3088c7.png)
![image](https://user-images.githubusercontent.com/3907132/66118064-0e90ac80-e608-11e9-96e1-094752b2ce7c.png)

[2019-10-03 13:12] real-zony commented on #42
[ZonyLrcToolsX_Build_201910032106.zip](https://github.com/GameBelial/ZonyLrcToolsX/files/3686164/ZonyLrcToolsX_Build_201910032106.zip)

Hello,you can try this pre-release version.

[2019-10-03 13:47] real-zony commented on #41
[ZonyLrcToolsX_Build_201910032146.zip](https://github.com/GameBelial/ZonyLrcToolsX/files/3686359/ZonyLrcToolsX_Build_201910032146.zip)

@pechpo 针对于提出的问题，确实是由于网易云音乐下架了周董的歌，你可以使用上面的 1.0 预览版，并选择 QQ 音乐源进行下载操作。
![image](https://user-images.githubusercontent.com/3907132/66132305-6a1e6280-e627-11e9-8aae-092893ebab40.png)
![image](https://user-images.githubusercontent.com/3907132/66132324-71de0700-e627-11

[2019-10-03 13:47] #41 closed, assigned to real-zony

[2019-10-03 13:51] real-zony commented on #34
基本补全单元测试。

[2019-10-03 13:51] #34 closed, assigned to real-zony

[2019-10-03 13:53] real-zony commented on #28
[ZonyLrcToolsX_Build_201910032146.zip](https://github.com/Game@ligan92 al/ZonyLrcToolsX/files/3686389/ZonyLrcToolsX_Build_201910032146.zip)
@chonghai @ligan92 @RoderickQiu
新版本使用 TaglibSharp 替换了原有的 taglib 库，请使用上述预览版再试一下。

[2019-10-05 08:31] RoderickQiu commented on #28
暂时歌词还没有遇到问题。在一段时间使用之后才能定论，可能修复了。
不过在提取封面时：
[code]
且以前也有提取错或者把有封面的提没了的情况。当然，那就是另外一个问题了。

[2019-10-06 10:07] real-zony commented on #28
@RoderickQiu 之前的版本已经切换成 old-version 分支了，后期不会再维护。所以最新的版本是 1.0 分支下面的。

[2019-10-06 10:07] #28 closed, assigned to real-zony

[2019-10-07 07:00] RoderickQiu commented on #28
好。不过这是使用你所发布的那个文件测试的结果。https://github.com/GameBelial/ZonyLrcToolsX/files/3686389/ZonyLrcToolsX_Build_201910032146.zip

[2019-10-10 04:46] real-zony commented on #42
长时间没有反馈，暂时关闭问题，如果还未解决，请重新打开。

[2019-10-10 04:46] #42 closed, assigned to real-zony

[2019-10-13 16:37] slanterns opened #43 "优化由于版权限制造成的报错提示"
当用户在版权限制区域外时，点击“下载歌词”后会抛出异常：

[code]

希望可以优化报错提示，以便用户意识到具体是什么方面出了问题。

[2019-10-13 16:55] slanterns opened #44 "当文件夹内文件太多时会产生 OOM."
版本: `Build_201910032106`

在一个大约有 4000 个文件的文件夹内进行试验：

[code]

尝试将其分成两个文件夹每个约 2000 首试验，确定可以工作。（不知道这个是可以修复的还是只能给个提示）

[2019-10-13 17:09] slanterns opened #45 "MPEG audio header not found."
一堆歌里抛了个异常：

[code]

通过二分定位到了这首：`RADWIMPS - かたわれ時.mp3`. 应该是之前从网易云音乐上下下来的。
[RADWIMPS - かたわれ時.zip](https://github.com/GameBelial/ZonyLrcToolsX/files/3722001/RADWIMPS.-.zip)

[2019-10-14 03:38] ligan92 opened #46 "无法准确识别下载歌词"
您好，我使用ZonyLrcToolsX和ZonyLrcTools无法下载 黄妃 - 追追追 一曲的歌词
前者显示没有找到歌词，后者下载的歌词与该歌曲无关
歌曲文件请见如下链接：
链接: https://pan.baidu.com/s/1gbLSYTd4dGaxn5iNJuB9mQ
提取码: n8dm
谢谢您的帮助
祝好

[2019-10-14 20:47] wenjor opened #47 "使用软件的环境配置问题"
一路从ZonyLrcDownLoad使用过来，但是在ZonyLrcToolsX0.18之后的版本都无法正常运行，试着在win10功能中启用了.net 4.8，甚至关掉了.net 3.0，但0.19就是不运行。。。。。。一阵折腾后0.18也不运行了。（都是执行文件双击后有加载的转圈动画，然后。。。。没有任何进程启动）
运行环境是缺了些什么吗，平时用Walkman听歌的歌词一直靠您的软件，现在我实在是解决不了问题了

[2019-10-15 05:38] real-zony commented on #44
该问题会在 1.0 测试版再次进行验证。

[2019-10-15 05:39] real-zony commented on #47
是否已经解压之后进行运行的？如果还是不行，可以加我 QQ 243387971，我远程查看一下。

[2019-10-15 05:40] real-zony commented on #46
好的，我会看一下。

[2019-10-15 06:59] wenjor opened #48 "专辑封面下载报错"
少量歌曲歌词下载ok，但是专辑封面下载出现问题

异常提示信息：没有搜索到指定的歌曲。
异常堆栈信息：   在 ZonyLrcToolsX.Downloader.Album.NetEase.NetEaseCloudMusicAlbumDownloader.<DownloadAsync>d__2.MoveNext()
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   在 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   在 Nito.AsyncEx.Synchronous.TaskEx

[2019-10-15 07:01] wenjor opened #49 "歌曲扫描加载的最后阶段出现问题"
文件数目确认无误，但是具体扫描加载的进度条在满格阶段报错（歌曲数目为411，应该没有爆栈）

2019年10月15日 14:54:15 - 产生了异常。
异常提示信息：参数无效。
异常堆栈信息：   在 System.Drawing.Image.FromStream(Stream stream, Boolean useEmbeddedColorManagement, Boolean validateImageData)
   在 System.Drawing.Image.FromStream(Stream stream)
   在 ZonyLrcToolsX.Forms.MainForm.listView_MusicList_SelectedIndexChanged(Object sender, EventArgs e)
   在 System.Windows.Forms.ListView

[2019-10-15 13:41] slanterns commented on #44
Thanks.

[2019-10-19 06:53] real-zony commented on #45
该歌曲文件似乎有问题，使用 Mp3Tag 无法加载歌曲信息，使用 foobar2000 也无法播放歌曲。

[2019-10-19 07:12] #47 closed, assigned to real-zony

[2019-10-19 07:24] real-zony commented on #46
@ligan92 软件使用的 Tagsharp 似乎无法识别目标歌曲的 Tag 信息，请使用 Mp3Tag 打开歌曲保存标签信息。之后在使用软件进行下载即可正常。

[2019-10-19 07:56] real-zony commented on #43
已优化。

[2019-10-19 07:56] #43 closed, assigned to real-zony

[2019-10-19 15:19] slanterns commented on #45
在本地测试通过 Groove / PotPlayer 可以播放。当然也是少见的情况了。

[2019-10-19 17:41] #31 closed, assigned to real-zony

[2019-10-19 18:26] real-zony commented on #45
@slanterns 针对该问题最新版本视为无效标签进行处理，但仍可下载歌词，你可以试试最新的 Pre-Release 版本。

[2019-10-19 18:29] real-zony commented on #45
@slanterns 已经确定是后缀名的问题，改为 flac 后缀，软件可以正常识别。
![image](https://user-images.githubusercontent.com/3907132/67149727-5d656400-f2e1-11e9-838f-422e7111e2e3.png)

[2019-10-19 18:29] #45 closed, assigned to real-zony

[2019-10-20 05:22] real-zony commented on #49
@wenjor 当时你提示异常的时候，第一首歌曲信息是什么呢？

[2019-10-20 10:14] real-zony commented on #49
已解决。(https://github.com/GameBelial/ZonyLrcToolsX/commit/ed1e28a17df026f74f9f1e9905415d79b193153c)

[2019-10-20 10:14] #49 closed, assigned to real-zony

[2019-10-20 10:29] #48 closed, assigned to real-zony

[2019-10-28 12:40] Omoinemie opened #50 "QQ音乐无法下载双语歌词，网易云下载的双语没有分行"
QQ音乐无法下载双语歌词，网易云下载的双语没有分行，连在一起的

[2019-10-30 04:35] real-zony commented on #50
@Omoinemie 在设置里面可以设置分行选项。

[2019-11-12 12:55] real-zony commented on #50
长时间没有回复，关闭 Issue，如果有需要可以重新开启。

[2019-11-12 12:55] #50 closed, assigned to real-zony

[2019-11-18 09:00] Simonlonz opened #51 "看不懂"
2019年11月18日 16:58:25 - 产生了异常。
异常提示信息：对路径“G:\Music\Blue - All Rise.mp3”的访问被拒绝。
异常堆栈信息：   在 System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   在 System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs, String msgPath, Boolean bFromProxy, Boolean u

[2019-11-20 13:36] real-zony commented on #51
@Simonlonz 尝试更换文件目录，或者以管理员方式运行程序。

[2019-11-27 06:14] RouJiANG-14 commented on #46
居然还有更新！简直业界良心！！！

[2019-11-29 03:45] inkossi opened #52 "1.0版本问题，扫描多文件（1000+）单文件夹无响应，某些歌添加封面图会自动退出，某些歌的歌词无法生成"
exception.log

2019年11月29日 11:33:05 - 产生了异常。
异常提示信息：没有搜索到指定的歌曲。
异常堆栈信息：   在 ZonyLrcToolsX.Downloader.Album.NetEase.NetEaseCloudMusicAlbumDownloader.<DownloadAsync>d__2.MoveNext() 位置 D:\项目\开源项目\ZonyLrcToolsX\ZonyLrcToolsX\ZonyLrcToolsX\Downloader\Album\NetEase\NetEaseCloudMusicAlbumDownloader.cs:行号 40
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task

[2019-12-03 06:21] VincentGaoHJ opened #53 "201910200219 版本还是会因为没有搜索到指定歌曲而异常退出"
2019年12月03日 14:15:27 - 产生了异常。
异常提示信息：没有搜索到指定的歌曲。
异常堆栈信息：   在 ZonyLrcToolsX.Downloader.Album.NetEase.NetEaseCloudMusicAlbumDownloader.<DownloadAsync>d__2.MoveNext() 位置 D:\项目\开源项目\ZonyLrcToolsX\ZonyLrcToolsX\ZonyLrcToolsX\Downloader\Album\NetEase\NetEaseCloudMusicAlbumDownloader.cs:行号 40
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   在 Sys

[2019-12-03 12:26] ClydeWong opened #54 "请求添加歌词中文翻译同步下载功能"

[2019-12-03 12:31] #54 closed, assigned to nobody

[2019-12-03 12:34] ClydeWong commented on #54
才看到设置里面原来有的

[2019-12-04 18:05] ClydeWong opened #55 "来源是QQ音乐时下载的歌词会普遍缺少最后一句"
网易的来源貌似没有这个问题

[2019-12-06 11:01] real-zony commented on #55
@ClydeWong 是最新的版本么？这个问题我记得是解决了的。

[2019-12-06 11:16] ClydeWong commented on #55
是1.0.0.1版本 QQ的来源会直接缺少最后一句的原文和译文 网易的来源有一定概率出现最后一句丢失译文

[2019-12-08 11:59] real-zony commented on #55
@ClydeWong 有具体的歌曲名和歌手信息么？我这边好测试一下。

[2019-12-08 12:09] ClydeWong commented on #55
![image](https://user-images.githubusercontent.com/7686134/70389163-9fb04500-19f6-11ea-9628-c615f3f09ff7.png)
例如这一首 梁静茹 - 会呼吸的痛

[2019-12-08 12:20] ClydeWong commented on #55
此外还有两点改良建议想提
1.歌词里原来已有的空段能否在下载时保留下来 例如此处
![image](https://user-images.githubusercontent.com/7686134/70389250-d0dd4500-19f7-11ea-98b0-923f67abd711.png)

2.有翻译的歌词可不可以增加一个这种输出形式的选择 这种排版比原文译文合并同行输出更适合手机端的观看
![image](https://user-images.githubusercontent.com/7686134/70389280-2b76a100-19f8-11ea-9f32-a48fab14e3c2.png)

[2019-12-09 14:25] real-zony commented on #55
@ClydeWong 该问题应该是解决了的，参考 https://github.com/GameBelial/ZonyLrcToolsX/commit/510571915439c51127dbde7e1264e1938c71d49d，我稍后发布一个最新的 Release 版本。
![image](https://user-images.githubusercontent.com/3907132/70443203-b5933800-1ad2-11ea-8265-ef950ca82aa0.png)

[2019-12-09 14:28] real-zony commented on #55
@ClydeWong https://github.com/GameBelial/ZonyLrcToolsX/releases/tag/1.0.0.2
如果还是有问题，请重新打开本 Issue。

[2019-12-09 14:28] #55 closed, assigned to real-zony

[2019-12-09 14:34] real-zony commented on #53
@VincentGaoHJ 请尝试 https://github.com/GameBelial/ZonyLrcToolsX/releases/tag/1.0.0.2 版本，是否还存在该问题。如果仍然存在，请重新打开 Issue。

[2019-12-09 14:34] #53 closed, assigned to real-zony

[2019-12-09 14:41] real-zony commented on #52
@inkossi 你列举的这几首歌曲排名前几首的都是没有歌词的，所以是无法生成歌词。至于报错的问题，请尝试最新的 Release 版本。

[2019-12-09 14:41] real-zony commented on #51
长时间没有回复，关闭 Issue，如果有需要可以重新开启。

[2019-12-09 14:41] #51 closed, assigned to real-zony

[2019-12-09 14:42] real-zony commented on #46
长时间没有回复，暂时关闭 Issue，有需要可以重新开启。

[2019-12-09 14:42] #46 closed, assigned to real-zony

[2019-12-13 12:00] VincentGaoHJ opened #56 "1.0.0.2 版本网易云音乐接口没有正常返回结果"
问题出在 六三四-哀と愁（白 Remix）这首歌，是一首纯音乐，将这首歌从列表中剔除之后运行正常。

问题不大，可以随时关掉此 Issue。

报错信息：
歌曲名：六三四-哀と愁（白 Remix） - 歌手名：白
2019年12月09日 23:09:42 - 产生了异常。
异常提示信息：网易云音乐接口没有正常返回结果...
异常堆栈信息：   在 ZonyLrcToolsX.Downloader.Lyric.NetEase.NetEaseCloudMusicLyricDownloader.ValidateResponse(MusicSearchResponseModel searchResult, MusicInfo musicInfo)
   在 ZonyLrcToolsX.Downloader.Lyric.NetEase.NetEaseCloudMusicLyricDownloader

[2019-12-16 13:57] real-zony commented on #56
https://github.com/GameBelial/ZonyLrcToolsX/commit/66c0805831a104425e62bd7050586a60920c080d 已解决。

[2019-12-16 13:57] #56 closed, assigned to real-zony

[2019-12-19 01:04] gaoxingeasy opened #57 "有些歌曲的名称会被识别为乱码"
[有些歌曲的名称会被识别为乱码，但却能识别出相应的专辑图片

[GALA - 追梦赤子心.zip](https://github.com/GameBelial/ZonyLrcToolsX/files/3981507/GALA.-.zip)
![561576723973_ pic](https://user-images.githubusercontent.com/59036583/71140972-bef86f00-224d-11ea-9a9e-0081351ae96f.jpg)

[2019-12-19 02:45] real-zony commented on #57
@gaoxingeasy 有相关的文件能上传一下么？

[2019-12-22 17:41] SplitGemini opened #58 "歌词翻译以及更多源的建议"
我注意到qq音乐的翻译是获取不到的，但是我从另一个软件 [Foobar2000](https://www.foobar2000.org/) 的一个第三方皮肤 [Foobox](http://www.foobar2000.com.cn/interface/showimg.php?lang=cn&id=73) 里发现很多种获取歌词的方法，

![image](https://user-images.githubusercontent.com/34861918/71325232-ad9cb480-2524-11ea-90fd-2e321007ce68.png)

它的QQ音乐是可以获取到翻译，虽然语言是Js的，但是原理应该是通用的，希望可以移植到这个工具里

![image](https://user-images.githubusercontent.com/34861918/71325261-

[2019-12-29 08:25] happyfence opened #59 "扫描完歌曲就崩溃了"
[exception.log](https://github.com/GameBelial/ZonyLrcToolsX/files/4007895/exception.log)

[2019-12-29 08:25] happyfence commented on #59
2019年12月29日 16:17:19 - 产生了异常。
异常提示信息：指定的参数已超出有效值的范围。
参数名: length
异常堆栈信息：   在 TagLib.ByteVector.Mid(Int32 startIndex, Int32 length) 位置 C:\code\taglib-sharp\src\TaglibSharp\ByteVector.cs:行号 439
   在 TagLib.Flac.Picture..ctor(ByteVector data) 位置 C:\code\taglib-sharp\src\TaglibSharp\Flac\Picture.cs:行号 94
   在 TagLib.Flac.Metadata..ctor(IEnumerable`1 blocks) 位置 C:\code\taglib-sharp\src\TaglibSharp\Flac

[2020-01-17 15:45] ZhouZiY opened #60 "手动搜索或指定歌曲ID"
部分歌曲文件由于标题不同或歌手不同 ( 例如 比原歌词名多了 (feat. xxx), 或歌手数量不同 ) ，找不到正确的歌词，添加手动下载功能或许是一个不错的解决方案。

[2020-02-20 05:20] jjss520 opened #61 "建议增加老版本的下载歌词结果显示"
老版本下载完歌词后有结果显示，新版本建议增加这个功能

[2020-03-09 07:58] unbadfish opened #62 "建议再增加一个“按ID下载”的功能，优化翻译的显示方式（如原文在前、译文在前等）"
建议再增加一个“按单曲、歌单、专辑ID下载”的功能（网易好像只能读取公开歌单的数据）
希望能优化翻译的显示方式（如原文在前、译文在前等）
话说如果能指定歌曲ID的话下载成功率应该会高很多吧~

[2020-03-13 12:21] 3301152539 opened #63 "建议加一个歌词分行的功能"
[00.00.00]123456 一二三四五六
[66.66.66]456789 四五六七八九
分行后:
[00.00.00]123456
[00.00.00]一二三四五六
[66.66.66]456789
[66.66.66]四五六七八九

[2020-04-11 02:05] jjss520 opened #64 "1.0.0.2下载歌词失败"
2020年04月11日 10:05:11 - 产生了异常。
异常提示信息：根据验证过程，远程证书无效。
异常堆栈信息：   在 System.Net.TlsStream.EndWrite(IAsyncResult asyncResult)
   在 System.Net.PooledStream.EndWrite(IAsyncResult asyncResult)
   在 System.Net.ConnectStream.WriteHeadersCallback(IAsyncResult ar)

[2020-05-26 08:22] 91Metis opened #65 "扫描完文件后报错"
2020年05月26日 16:19:55 - 产生了异常。
异常提示信息：指定的参数已超出有效值的范围。
参数名: length
异常堆栈信息：   在 TagLib.ByteVector.Mid(Int32 startIndex, Int32 length) 位置 C:\code\taglib-sharp\src\TaglibSharp\ByteVector.cs:行号 439
   在 TagLib.Riff.List.Parse(ByteVector data) 位置 C:\code\taglib-sharp\src\TaglibSharp\Riff\List.cs:行号 612
   在 TagLib.Riff.List..ctor(File file, Int64 position, Int32 length) 位置 C:\code\taglib-sharp\src\Taglib

[2020-05-26 10:24] iusearch commented on #32
歌词匹配的话我建议跟musicbrainz和acounstID的接口对一下，现在有这个想法的具体仓库么

[2020-05-30 17:32] real-zony commented on #32
@aliyuchang33 会放在下一个版本(Electron)做。

[2020-06-09 13:32] Baka943-0v0 opened #66 "下载歌词报错"
[exception.log](https://github.com/GameBelial/ZonyLrcToolsX/files/4752439/exception.log)

[2020-07-04 03:04] 2023685454 opened #67 "1.0.0.2扫描完报错"
2020年07月04日 11:03:49 - 产生了异常。
异常提示信息：指定的参数已超出有效值的范围。
参数名: length
异常堆栈信息：   在 TagLib.ByteVector.Mid(Int32 startIndex, Int32 length) 位置 C:\code\taglib-sharp\src\TaglibSharp\ByteVector.cs:行号 439
   在 TagLib.Flac.Picture..ctor(ByteVector data) 位置 C:\code\taglib-sharp\src\TaglibSharp\Flac\Picture.cs:行号 94
   在 TagLib.Flac.Metadata..ctor(IEnumerable`1 blocks) 位置 C:\code\taglib-sharp\src\TaglibSharp\Flac

[2020-07-04 03:04] 2023685454 commented on #67
怎么解决啊

[2020-08-18 05:55] hankuksui opened #68 "下载封面报错了"
2020年08月18日 13:54:47 - 产生了异常。
异常提示信息：Unable to read data from the transport connection: The connection was closed.
异常堆栈信息：   at System.Net.ConnectStream.EndRead(IAsyncResult asyncResult)
   at System.Net.Http.HttpClientHandler.WebExceptionWrapperStream.EndRead(IAsyncResult asyncResult)
   at System.Net.Http.StreamToStreamCopy.BufferReadCallback(IAsyncResult ar)

[2020-10-01 16:46] d3vzahvv opened #69 "希望能完善文档"
### 迄今为止见到过的最好的歌词下载软件，若是能完善文档将是绝杀

我在使用中遇到了一些小问题，但这并不影响它成为一件优秀的作品
- 在开启**代理**下，无论是**全局**或是**规则**都无法使用，显示下载失败或未找到，这可能与网易云UWP类似，需要关闭代理使用
- 下载完歌词后导入手机发现翻译在歌词后，随后找到插件配置**inline**选项改正即可

希望作者能把它打磨的更好，更便于普通人使用。

[2020-10-08 08:26] yunhao-jiang opened #70 "歌词源为QQ音乐无法获取翻译歌词"
如题，使用最新版本。网易云音乐正常，但QQ无论选双语还是翻译均只有歌词原文。

[2020-11-23 01:30] real-zony commented on #70
@YunhaoJiang 已修复。

[2020-11-23 01:30] #70 closed, assigned to real-zony

[2020-12-06 10:48] smile-xuc commented on #67
遇到类似问题，期待修复

[2020-12-06 12:44] real-zony commented on #68
请尝试 0.1.9.5 版本，如果还有问题可以重新打开本问题。

[2020-12-06 12:44] #68 closed, assigned to real-zony

[2020-12-06 14:18] real-zony commented on #67
@smile-xuc 该问题是由于 taglib 引起的，会在 12 日 8 号(0.1.9.6)的版本暂时屏蔽异常解决。
根本原因暂时无法在我这边复现，会在 2.0.0 版本中使用新的 Tag 标签库进行实现尝试解决该问题。

[2021-01-30 13:27] jerrydong1988 opened #71 "下载专辑图片时异常退出问题"
2021年01月30日 21:26:41 - 产生了异常。
异常提示信息：值不能为 null。
参数名: value
异常堆栈信息：   在 Newtonsoft.Json.Linq.Extensions.Value[T,U](IEnumerable`1 value)
   在 ZonyLrcToolsX.Downloader.Album.NetEase.NetEaseCloudMusicAlbumDownloader.<DownloadAsync>d__2.MoveNext()
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   在 System.Runtime.CompilerServices.TaskAwaiter.Han

[2021-03-03 10:39] neilyangchn commented on #71
2021年03月03日 17:14:31 - 产生了异常。
异常提示信息：值不能为 null。
参数名: value
异常堆栈信息：   在 Newtonsoft.Json.Linq.Extensions.Value[T,U](IEnumerable`1 value)
   在 ZonyLrcToolsX.Downloader.Album.NetEase.NetEaseCloudMusicAlbumDownloader.<DownloadAsync>d__2.MoveNext()
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   在 System.Runtime.CompilerServices.TaskAwaiter.Han

[2021-03-08 15:05] chainofhonor opened #72 "下载地址失效了"
https://github.com/real-zony/ZonyLrcToolsX/releases/download/v0.1.9.1/ZonyLrcToolsX.0.1.9.1.x64.zip
打开0.1.8.0提示更新，然后点确定更新以后浏览器会从这个地址下载压缩包，但是这个地址失效了

[2021-03-08 15:17] chainofhonor commented on #72
另外我的中文歌曲目录下有一些歌曲名称在软件里面显示乱码 但是在windows文件夹下查看是正常的中文  请问怎么知道乱码对应的中文是什么 我好改

比如有一首歌123木头人 在软件里面显示的是123乱码  我对比了一下发现就是123木头人，然后我修改了123木头人这首歌的文件名，操作方式是先把123木头人这几个字复制到txt文本里面，然后再复制这个txt文本，再重命名文件，粘贴
这样操作以后重新扫描歌曲文件名就正常显示123木头人了

[2021-04-03 09:06] likeTianDian opened #73 "下载后打开出错"
下载歌词时出错,然后再打开也弹错
[exception.log](https://github.com/real-zony/ZonyLrcToolsX/files/6252226/exception.log)

[2021-04-03 09:17] likeTianDian commented on #73
好像是我磁盘满了,现在可以用了

[2021-04-03 09:18] #73 closed, assigned to nobody

[2021-04-06 17:44] Hanami-Satoi opened #74 "希望增加可识别文件类型"
目前貌似只能识别.mp3和.flac？至少扫描不出wav格式的歌，转码成.mp3才能扫到

[2021-04-07 14:40] yanph2003 opened #75 "歌词下载有时与歌曲不对应"
当下载歌曲信息为
![1](https://user-images.githubusercontent.com/19853316/113885019-10858e00-97f2-11eb-89b0-c9fe2352bfe7.png)
时，从网易云下载歌词为：
![11](https://user-images.githubusercontent.com/19853316/113885026-124f5180-97f2-11eb-9cc5-0e3583202515.png)
经检验为同专辑的
![无标题](https://user-images.githubusercontent.com/19853316/113885043-15e2d880-97f2-11eb-9176-c35e28304d97.png)
的歌词

但欲下载的歌曲存在于网易云音乐，并非因歌曲不存在而导致的误识别

[2021-04-07 14:41] yanph2003 commented on #75
其他歌曲有时也会出现类似的识别错误

[2021-04-10 15:37] EricZhou05 opened #76 "酷狗音乐无法下载翻译歌词"
网易云音乐以及QQ音乐都可以下载翻译的歌词但是唯独酷狗音乐歌词只有原文没有翻译。
但是酷狗音乐APP上是显示有翻译的。

[2021-05-12 06:56] BeteixZ opened #77 "添加对于敏感词语搜索的支持"
由于网易云音乐对某些Offensive的词汇进行了屏蔽，所以希望能在搜索歌词时使用*号进行匹配。

例: *Norman fucking Rockwell*,
在网易云中为 *Norman ****ing Rockwell*.

[2021-05-17 12:56] real-zony commented on #76
目前使用的接口可能没有返回对应的翻译歌词, 具体是哪首歌没有翻译歌词呢?

[2021-05-18 15:38] real-zony commented on #74
目前已经支持。

[2021-05-18 15:38] #74 closed, assigned to real-zony

[2021-06-05 03:32] #77 closed, assigned to real-zony

[2021-06-05 03:40] #76 closed, assigned to real-zony

[2021-06-05 03:52] #75 closed, assigned to real-zony

[2021-06-05 03:52] real-zony commented on #75
@yanph2003 已解决。

[2021-06-05 04:00] real-zony commented on #71
Close Issue at v4.0.0. prewview.

[2021-06-05 04:00] #71 closed, assigned to real-zony

[2021-06-05 04:01] real-zony commented on #67
@smile-xuc @2023685454 v4.0.0 preview 采用文件名作为降级策略，可以尝试 4.0.0 版本。

[2021-06-05 04:01] #67 closed, assigned to real-zony

[2021-06-05 04:03] #52 closed, assigned to real-zony

[2021-06-05 04:20] real-zony commented on #57
@gaoxingeasy 已经确认是 taglib 的问题，临时处理方式是采用 4.0.0 preview，使用默认的 FileName TagLoad，将 Taglib 禁用读取标签信息。

[2021-06-05 04:20] #57 closed, assigned to real-zony

[2021-06-05 04:21] #58 closed, assigned to real-zony

[2021-06-05 04:22] real-zony commented on #77
@BillKerman 已支持。

[2021-06-05 04:24] real-zony commented on #64
@jjss520 无法复现，请尝试使用 4.0.0 preview 再试。

[2021-06-05 04:24] #64 closed, assigned to real-zony

[2021-06-05 04:26] real-zony commented on #59
@happyfence 该问题是由于 Taglib 标签加载器引起的，在 4.0.0 preview 中，你可以尝试禁用该标签加载器，使用 FileName TagLoader 加载歌曲标签信息。

[2021-06-05 04:26] #59 closed, assigned to real-zony

[2021-06-05 04:26] real-zony commented on #65
@91Metis 该问题同 https://github.com/real-zony/ZonyLrcToolsX/issues/59 重复。

[2021-06-05 04:26] #65 closed, assigned to real-zony

[2021-06-05 04:27] real-zony commented on #66
@tartaricacid943 请提供对应歌曲信息。

[2021-06-05 04:27] #66 closed, assigned to real-zony

[2021-11-16 11:57] renmu123 opened #78 "作者能否提供一下可执行文件的下载地址？"
我不熟悉 c# ，不太懂如何进行编译。

[2021-11-21 13:17] real-zony commented on #78
已经提供编译好的可执行文件: https://github.com/real-zony/ZonyLrcToolsX/releases/tag/Alpha.202111212112

[2021-11-21 13:17] #78 closed, assigned to real-zony

[2021-12-17 09:19] zushl opened #79 "希望提供歌词选择功能"
现在歌词是直接下载歌曲源语言的，外文歌曲就很难看懂，英文还好，日文少数能猜，韩文直接麻瓜，像这种的话能够双语字幕是最好的

[2021-12-28 16:11] WaterSeekingFish opened #80 "双击exe无法打开"
黑框一闪而过，什么也没发生

[2021-12-29 03:15] real-zony commented on #80
Windows 用户请在软件目录当中，按住 Shift + 右键呼出菜单，然后选择 PowerShell (部分用户可能显示的是 命令提示符)，根据下述说明执行命令即可。

macOS 和 Linux 用户请打开终端，切换到软件目录，一样执行命令即可。

[2021-12-30 06:16] ForeverBRS opened #81 "CLI运行程序后无反应"
在powershell或cmd运行都没有输出结果
![image](https://user-images.githubusercontent.com/43440593/147726570-2cc7c79b-7235-4964-8301-61fbf500f819.png)
![image](https://user-images.githubusercontent.com/43440593/147726589-ca19b779-b244-4630-9b82-328520c14239.png)

[2021-12-30 06:23] ForeverBRS commented on #81
已找到说明，已自行解决，打扰了

[2021-12-30 06:23] #81 closed, assigned to nobody

[2021-12-30 06:30] ForeverBRS opened #82 "批量下载歌词时发现报错"
数量为19首
其中有一首名称很长，是否与文件名或ID3标签有关？
有一首没有歌词，是否没有歌词也会报错？
报错信息：
[14:25:53 ERR] 出现了未处理的异常: Object reference not set to an instance of an object.
调用栈:
   at ZonyLrcTools.Cli.Infrastructure.Lyric.NetEase.NetEaseLyricDownloader.GenerateLyricAsync(Byte[] data, LyricDownloaderArgs args)
   at ZonyLrcTools.Cli.Infrastructure.Lyric.LyricDow

运行信息：
![image](https://user-images.githubusercontent.com/43440593/147

[2022-01-02 13:36] ForeverBRS commented on #82
批量处理366首歌曲出现如下报错

[21:32:50 ERR] 出现了未处理的异常: Object reference not set to an instance of an object.
调用栈:
   at ZonyLrcTools.Cli.Infrastructure.Lyric.NetEase.NetEaseLyricDownloader.GenerateLyricAsync(Byte[] data, LyricDownloaderArgs args)
   at ZonyLrcTools.Cli.Infrastructure.Lyric.LyricDownloader.DownloadAsync(String songName, String artist)
   at ZonyLrcTools.Cli.Commands.DownloadCommand.<>c__Displ

[2022-01-04 04:50] real-zony commented on #82
@ForeverBRS 能否上传比较长的歌曲名称文件，我这边试一下。

[2022-01-04 04:50] ForeverBRS commented on #82
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-04 05:18] ForeverBRS commented on #82
[example.zip](https://github.com/real-zony/ZonyLrcToolsX/files/7805499/example.zip)
这个可以测试

[2022-01-04 13:47] real-zony commented on #82
@ForeverBRS 能上传一下原始歌曲文件吗？

[2022-01-05 01:56] ForeverBRS commented on #82
github不支持音频文件上传
![image](https://user-images.githubusercontent.com/43440593/148148441-772fb3ca-da81-4879-8a0d-ab6dfafd7023.png)

[2022-01-05 01:56] ForeverBRS commented on #82
我压缩包里就是音频文件

[2022-01-05 02:42] real-zony commented on #82
@ForeverBRS 压缩包我解压出来是 LRC。
![image](https://user-images.githubusercontent.com/3907132/148152427-99a17123-0fe4-4c0c-842e-0dd3a935ddad.png)

[2022-01-05 02:58] ForeverBRS commented on #82
@real-zony 不好意思，搞错了
传输链接：https://cowtransfer.com/s/22c165ec815849 或 打开【奶牛快传】cowtransfer.com 使用传输口令：jx1rm7 提取；
不知道为啥GitHub又不能放文件了

[2022-01-05 06:48] zhang11lei11 opened #83 "批量下载报错"
`2022-01-05 14:37:06.155 +08:00 [ERR] 出现了未处理的异常: Object reference not set to an instance of an object.
调用栈:
   at ZonyLrcTools.Cli.Infrastructure.Extensions.LoggerExtensions.LogMusicInfoWithInformation(ILogger logger, MusicInfo musicInfo)
   at ZonyLrcTools.Cli.Commands.DownloadCommand.<>c__DisplayClass28_0.<<DownloadLyricTaskLogicAsync>g__InternalDownloadLogicAsync|0>d.MoveNext()
--- End of stack

[2022-01-05 14:44] real-zony commented on #82
@ForeverBRS 这首歌曲我能够正常下载，你可以试试这个版本，他会告诉你具体错误的歌曲文件。
[ZonyLrcToolsX_Alpha.2022010501_win-x64.zip](https://github.com/real-zony/ZonyLrcToolsX/files/7815643/ZonyLrcToolsX_Alpha.2022010501_win-x64.zip)

[2022-01-05 14:46] real-zony commented on #83
@zhang11lei11 你好，请尝试这个版本的文件，他会告诉你具体的错误歌曲。你可以将对应的歌曲文件上传给我，帮助我进行错误定位。
[ZonyLrcToolsX_Alpha.2022010501_win-x64.zip](https://github.com/real-zony/ZonyLrcToolsX/files/7815654/ZonyLrcToolsX_Alpha.2022010501_win-x64.zip)

[2022-01-06 06:16] ForeverBRS commented on #82
@real-zony 使用你发的版本之后，仍有部分歌曲下载歌词报错，但是文件的ID3是正常的

报错信息：
[14:12:09 ERR] 下载歌词文件时发生错误：Object reference not set to an instance of an object.，歌曲名: シンデレラ (Giga First Night Remix)，歌手: DECO 27 ギガP。

报错歌曲文件：
传输链接：https://cowtransfer.com/s/a9b3eff190f046 或 打开【奶牛快传】cowtransfer.com 使用传输口令：mh3k01 提取；

[2022-01-06 07:28] #82 closed, assigned to real-zony

[2022-01-06 07:28] #83 closed, assigned to real-zony

[2022-01-06 07:36] real-zony commented on #82
@ForeverBRS 请下载最新的版本再试: https://github.com/real-zony/ZonyLrcToolsX/releases/tag/Alpha.2022010601

[2022-01-06 07:36] real-zony commented on #83
@zhang11lei11 请下载最新的版本再试: https://github.com/real-zony/ZonyLrcToolsX/releases/tag/Alpha.2022010601

[2022-01-06 07:36] #80 closed, assigned to real-zony

[2022-01-28 03:14] trigsoft opened #84 "无法下载歌词"
[16:13:03 WRN] 错误代码: 50010，信息: Http 请求的结果反序列化为 Json 失败。
附加信息:
 {"requestParameters":{"csrf_token":"","s":"%e5%a4%aa%e7%a9%ba%e5%bd%88%2b01","offset":0,"type":1,"total":true,"limit":5},"responseString":"{\"result\":\"35b1748964af8a7c1d883e3a6f3c773bb35b675d401af1cf008a9fe84ef5b3d1e2e099d419f4408295890d4dbf40f974418ea6c31b78bbe0d60d0a5744c17881b187bca62263ec471d892608e0c627d987767bb4c0167abca865cabc

[2022-02-03 09:10] real-zony commented on #84
@trigsoft 目前无法复现该问题，能否上传问题歌曲文件？

[2022-02-16 05:08] DancingSnow0517 opened #85 "报错，好像是调用了没实例化的对象"
![image](https://user-images.githubusercontent.com/60736156/154200049-9e732045-0daf-40cc-868b-8b66163f3bb5.png)

[2022-02-23 12:21] creep-crow opened #86 "能不能整个gui，之前老版本不是有吗"
能不能整个gui，之前老版本不是有吗

[2022-02-27 15:09] real-zony commented on #86
@1392496019 原始代码没见了， 这个是重构的版本，3月中旬会出一个 Windows 的 GUI 版本。

[2022-02-27 15:09] #86 closed, assigned to real-zony

[2022-03-05 22:09] CiaoBye opened #87 "双语歌词"
希望可以下载到双语歌词啊~

[2022-03-18 04:20] jerrydong1988 opened #88 "dsf格式扫描报错"
![image](https://user-images.githubusercontent.com/17478939/158936801-5d5c47d8-9ca0-4326-9138-c5b4d07825df.png)

[2022-03-18 04:23] jerrydong1988 commented on #88
另外一个未知异常
![image](https://user-images.githubusercontent.com/17478939/158937081-3403946e-a460-405c-bab0-1d77a8c2c880.png)

[2022-03-18 11:54] real-zony commented on #79
重复 Issue [https://github.com/real-zony/ZonyLrcToolsX/issues/87](https://github.com/real-zony/ZonyLrcToolsX/issues/87)，双语歌词功能后续提供。

[2022-03-18 11:54] #79 closed, assigned to real-zony

[2022-03-18 13:13] real-zony commented on #88
@jerrydong1988  你能提供这个歌曲源文件供我测试吗？
![image](https://user-images.githubusercontent.com/3907132/159009135-b692c489-9824-4c33-9254-d3bac20cb4ed.png)

[2022-03-18 13:14] real-zony commented on #84
长时间没有得到回复，如果有任何问题请重新 reopen 这个 issue。

[2022-03-18 13:14] #84 closed, assigned to real-zony

[2022-03-18 13:15] real-zony commented on #85
@DancingSnow0517 你好，你能提供这首歌曲的原始文件吗？
![image](https://user-images.githubusercontent.com/3907132/159009451-539f8289-5c5b-4ff4-877e-9bacf71ec325.png)

看起来跟这个问题有点相似。https://github.com/real-zony/ZonyLrcToolsX/issues/88

[2022-03-18 13:22] real-zony commented on #69
感谢你的建议。

[2022-03-18 13:22] #69 closed, assigned to real-zony

[2022-03-19 03:44] real-zony commented on #33
最新版本支持 FileName 侦测标签，等待后续反馈情况。

[2022-03-19 03:44] #33 closed, assigned to real-zony

[2022-03-19 04:05] real-zony commented on #87
问题已在 [ZonyLrcToolsX_Alpha.2022032001](https://github.com/real-zony/ZonyLrcToolsX/milestone/6) 解决，将会在 3 月 20 日发布。

[2022-03-19 04:05] #87 closed, assigned to real-zony

[2022-03-19 05:54] CiaoBye commented on #87
多谢 到时候会立马更新的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "real-zony/ZonyLrcToolsX"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月19日(星期六) 中午12:05
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:

[2022-03-19 08:10] real-zony commented on #72
地址已经更新为最新的下载网页。

[2022-03-19 08:10] #72 closed, assigned to real-zony

[2022-03-20 02:58] real-zony commented on #88
请使用最新版本再试一下，关于第一个问题，只需要在 `config.yaml` 里面添加上 dsf 后缀即可。
如果最新版本还有问题，请重新打开此 Issue。

![image](https://user-images.githubusercontent.com/3907132/159146113-88568df0-b643-4a16-a69f-5c1b7dae5d9a.png)

[2022-03-20 02:59] #88 closed, assigned to real-zony

[2022-03-20 03:04] #85 closed, assigned to real-zony

[2022-03-20 03:07] real-zony commented on #85
@DancingSnow0517 如果最新版本还有问题，请重新打开此 Issue。

[2022-03-22 11:50] MasterOfStar opened #89 "下载发生错误但最后输出失败0"
![image](https://user-images.githubusercontent.com/21274896/159475027-ea302a97-75e5-4a84-80c3-6b46fb0bfd1e.png)
如图，下载发生错误但最后输出失败0 但打开文件夹缺少出错部分曲目的歌词

[2022-03-22 14:06] real-zony commented on #89
因为代码里面没有对失败进行计数，后续会把这个功能实装。

[2022-03-29 06:17] jerrydong1988 commented on #88
歌曲源文件再G盘里
 茫茫草原.wav
<https://drive.google.com/file/d/1euSk6xDw-jrWeRqOjlD1-u-ZlU3JWfX1/view?usp=drive_web>

Zony ***@***.***> 于2022年3月18日周五 21:13写道：

[2022-04-03 21:01] fansaitiya opened #90 "小白完全不懂什么意思....作者可以出个最早的那种软件吗"
2022-04-04 04:57:02.867 +08:00 [ERR] 出现了未处理的异常，错误代码: 50007，错误信息: TagLib 标签读取器出现了预期之外的异常。
调用栈:
   at ZonyLrcTools.Cli.Infrastructure.Tag.TaglibTagInfoProvider.LoadAsync(String filePath) in D:\Project\OpenSource\ZonyLrcToolsX\src\ZonyLrcTools.Cli\Infrastructure\Tag\TaglibTagInfoProvider.cs:line 41
   at ZonyLrcTools.Cli.Infrastructure.Tag.DefaultTagLoader.LoadTagAsync(String filePath) in D:\Project\

[2022-04-07 22:01] 9o8i7u opened #91 "下载出错，显示SSL错误"
PS H:\ZonyLrcToolsX> ./ZonyLrcTools.Cli.exe download -d "H:\CloudMusic\ZV48--" -l -n 2
[05:57:05 INF] 已经扫描到了 71 个音乐文件。
[05:57:05 INF] 开始加载音乐文件的标签信息...
[05:57:05 INF] 已成功加载 71 个音乐文件的标签信息。
[05:57:05 INF] 开始下载歌词文件数据...
[05:57:05 INF] 歌曲名: LiSA, 艺术家: 紅蓮華, 歌曲路径: H:\CloudMusic\ZV48--\紅蓮華 - LiSA.mp3
[05:57:05 INF] 歌曲名: 龚明威, 艺术家: 玫瑰少年 - 小提琴版（翻自 蔡依林）, 歌曲路径: H:\CloudMusic\ZV48--\玫瑰少年 - 小提琴版（翻自 蔡依林） - 龚明威.mp

[2022-04-12 01:59] real-zony commented on #91
@9o8i7u  看样子是网络问题，我这边无法复现，大概意思是 SSL 证书无效，你将 `config.yaml` 发出来我看看呢？

[2022-04-12 02:00] #89 closed, assigned to real-zony

[2022-04-12 02:03] real-zony opened #92 "【BUG】标签读取器的优先级不能正常工作"

[2022-04-12 02:05] real-zony opened #93 "【优化】TagLib 不能正常工作时，应该捕获异常。"
TagLib 在某些情况即便不能工作，也应该 fallback 到文件名读取。

[2022-04-12 02:14] #92 closed, assigned to real-zony

[2022-04-12 02:15] #93 closed, assigned to real-zony

[2022-04-12 02:16] real-zony commented on #92
Related commit: [https://github.com/real-zony/ZonyLrcToolsX/commit/969d5e9e19d0de78e81918af2beca1dfd5ecff48](https://github.com/real-zony/ZonyLrcToolsX/commit/969d5e9e19d0de78e81918af2beca1dfd5ecff48)

[2022-04-12 02:17] real-zony commented on #90
closed by https://github.com/real-zony/ZonyLrcToolsX/commit/ffd76f5f2ba3d7a5b4457c99a1d6848bdf69bd65

[2022-04-12 02:17] #90 closed, assigned to real-zony

[2022-04-12 02:24] real-zony opened #94 "支持 LRC 文件编码控制"

[2022-04-12 02:25] real-zony opened #95 "支持歌词嵌入功能"
针对 FLAC 等格式，支持嵌入歌词的功能。

[2022-04-12 11:38] 9o8i7u commented on #91
config.yaml  没有动。

找到原因了。。是我自己晕到头了。。

旁路由中开了UnblockNeteaseMusic。

[2022-04-12 11:46] #91 closed, assigned to real-zony

[2022-04-12 16:49] shelken opened #96 "是否可以先读取歌曲的元数据如果没有元数据再根据文件名？"
是否可以先读取歌曲的元数据如果没有元数据再根据文件名？因为我是先把元数据都整理好的，然后当时命名的时候只有歌曲名（musicBrainZ的默认命名规则），所以希望加个策略，先读取元数据信息，没有才以文件名，这样会准确点？

[2022-04-12 16:53] shelken opened #97 "希望添加「覆盖原歌词文件」的策略"
希望添加『覆盖原歌词文件』的策略

[2022-04-14 07:11] real-zony commented on #96
该问题新版本已经解决，等待 Release，参考 [https://github.com/real-zony/ZonyLrcToolsX/issues/92](https://github.com/real-zony/ZonyLrcToolsX/issues/92).

[2022-04-14 07:11] #96 closed, assigned to real-zony

[2022-04-25 04:27] real-zony commented on #97
已解决.

[2022-04-25 04:27] #97 closed, assigned to real-zony

[2022-04-25 04:27] real-zony commented on #97
Related commits. https://github.com/real-zony/ZonyLrcToolsX/commit/61ca8637706fe25654bfa35e0577ae7eb95e4a32

[2022-04-27 13:40] real-zony commented on #94
Closes https://github.com/real-zony/ZonyLrcToolsX/commit/279eba48f857f41cfb1a7f74d30cfeb6bcec3eff.

[2022-04-27 13:40] #94 closed, assigned to real-zony

[2022-04-27 13:41] real-zony commented on #61
考虑增加 `-o` 参数，指定歌词下载结果的输出路径。

[2022-04-27 13:44] real-zony commented on #32
- [ ] 提供歌词上传接口。
- [ ] 建立开放 API 平台，包括鉴权，限流等处理。

[2022-04-27 13:47] real-zony commented on #32
本 Issue 暂时关闭，会在单独的 Issue 进行任务分解与跟踪。

[2022-04-27 13:47] #32 closed, assigned to real-zony

[2022-05-01 08:54] SadPull opened #98 "可以加个罗马音的选项吗"
可以加个罗马音的选项吗

[2022-05-24 03:54] hyperlook opened #99 "windows下 映射的网络磁盘无法访问"
F盘为局域网内 映射的网络驱动器

`Unhandled exception. System.IO.DirectoryNotFoundException: Could not find a part of the path 'F:\music\album\王心凌\Resources\error_msg.json'.
   at Microsoft.Win32.SafeHandles.SafeFileHandle.CreateFile(String , FileMode , FileAccess , FileShare , FileOptions )
   at Microsoft.Win32.SafeHandles.SafeFileHandle.Open(String , FileMode , FileAccess , FileShare , FileOptions , Int64 )

[2022-05-25 16:17] shelken opened #100 "提个歌词匹配的功能增强建议"
歌词匹配的地方我看了下，好像是默认取第一个？希望大佬加个策略：能在返回的列表中找与当前歌曲长度最接近的一条，我只看了下qq音乐的接口返回，是有个interval字段表示长度的。本人不会写C#，也不太了解；希望大佬能考虑一下加上这个功能。我的逻辑是这样，taglib读取歌曲长度；搜索歌曲列表，根据策略，如果是选择匹配最接近长度的，则比较前几条与当前歌曲长度相差值，取最小绝对值的id，再根据songid去下歌词。

[2022-06-09 09:35] lemonsiny2016 opened #101 "error: 50010"
Can't download the lyrics:

2022-06-09 10:05:37.007 +01:00 [WRN] 错误代码: 50010，信息: Http 请求的结果反序列化为 Json 失败。

[2022-06-25 16:17] koollylee opened #102 "window 10下，提示“The SSL connection could not be established, see inner exception”"
window 10下，提示“The SSL connection could not be established, see inner exception”，什么原因？![](http://koollylee.top:8112/images/2022/06/26/20220626001636.png)

[2022-06-26 01:46] 1514680963 opened #103 "翻译歌词顺序问题"

[2022-06-26 01:47] 1514680963 commented on #103
翻译的歌词和原文的顺序有点乱，有时是原文在前，有时又是翻译在前。能不能添加一个功能来解决这个问题

[2022-06-26 04:07] koollylee commented on #102
找到原因了，因为软路由里运行了"UnblockNeteaseMusic"服务，关了即可。

[2022-06-26 17:04] real-zony commented on #103
@1514680963 有歌曲名称和歌手名称吗？

[2022-06-26 17:04] real-zony commented on #101
@lemonsiny2016 有对应的错误歌曲名称吗？

[2022-06-26 17:04] #102 closed, assigned to nobody

[2022-06-27 00:39] 1514680963 commented on #103
有的。例如歌名Supermarket Flowers，歌手Ed Sheeran;。他下载歌词后分成两行就会出现如下情况
![image](https://user-images.githubusercontent.com/62428458/175840742-2db55f7a-b3d3-4c45-9763-474354d67b73.png)

[2022-07-06 12:24] ballballu commented on #101
也是同样的问题，对于日文歌曲都会显示这个报错
![image](https://user-images.githubusercontent.com/45290612/177549369-e0433f22-9e8a-4ede-944c-34cab9a91e92.png)

[2022-07-08 06:35] fateavalon opened #104 "请问macos需要安装.net么？"

[2022-07-09 06:29] real-zony commented on #104
不需要，直接下载二进制文件运行即可。

[2022-07-11 15:01] 1514680963 opened #105 "无法下载"
![image](https://user-images.githubusercontent.com/62428458/178294799-8137ebde-b80a-41f8-bb61-154d69f0ca7b.png)
我选择QQ音乐的下载，但是基本没成功。曾经还能成功，现在就不行了。。。

[2022-07-12 03:52] fateavalon commented on #104
谢谢 似乎m1不能运行?
Permission denied, sudo 也不行

还有请问是不是国外只能挂代理翻回去才能用？

[2022-07-13 16:00] ghost opened #106 "配置"isSkipExistLyricFiles"为true后，使用-a下载专辑图像也被跳过"
当歌词文件存在而专辑图片不存在时，也会跳过下载。

[2022-07-14 12:52] real-zony commented on #104
因为我是 X86 的机器，M1 机器的话还没编译 ARM 版本的可执行文件。后续会考虑支持。如果在国外的话，需要代理回去才能用，网易云那边做了限制。

[2022-07-14 15:55] fateavalon commented on #104
谢谢！

[2022-07-14 15:55] #104 closed, assigned to real-zony

[2022-07-27 03:16] cedricxd opened #108 "Win10下在win64位版本，无法正常打开软件"
Win10下在win64位版本，无法正常打开软件，命令行窗口一闪即逝。

[2022-08-04 02:09] lyhlead commented on #108
用cmd打开文件夹，用命令行执行exe文件，exe文件无法双击打开

[2022-08-04 08:13] wxiyangqq commented on #108
不好意思，没有电脑基础不会使用啊，有没有像上一个版本那样可以直接打开的啊 ！谢谢 ，或者有没有使用说明，非常感谢

[2022-08-04 08:34] cedricxd commented on #108
原来如此，多谢解释

[2022-08-04 08:34] #108 closed, assigned to nobody

[2022-08-05 04:43] maNickFry opened #109 "下载使用帮助"
![Uploading 微信截图_20220805124138.png…]()
怎么扫描目录和下载歌词呢，按照help 用ZonyLrcTools.exe加路径加-d 后提示Specify --help for a list of available options and commands.

[2022-08-06 03:43] real-zony commented on #109
有子命令的，下载的子命令是 download，完整的应该是：
[code]

[2022-08-15 15:10] SadPull opened #110 "可以重新发布一下没重写程序之前的旧版本吗"
rt，现在的版本没之前那么完善，于是还是想用下旧版本的

[2022-08-16 00:12] real-zony commented on #110
@SadPull QQ 群(337656932)还有老版本的文件下载，只有那儿还有存档了。

[2022-08-16 00:13] real-zony commented on #109
长时间没有回复，关闭 Issue，如果有任何疑问可以重新打开。

[2022-08-16 00:13] #109 closed, assigned to real-zony

[2022-08-16 00:13] real-zony commented on #105
@1514680963 最新版本已经解决。

[2022-08-16 00:13] #105 closed, assigned to real-zony

[2022-08-16 16:20] IIIIOvOIIII opened #111 "下载专辑封面时出现未捕获异常"
您好，我在执行下载专辑封面时有未捕获异常，日志如下：

[code]

系统是Win10 21H1，如有其他troubleshooting需要可以联系我。谢谢作者

[2022-08-17 00:47] real-zony commented on #111
@lingxide 能将 歌曲名: 22.ɽ������, 艺术家: KALA��Dana Kendall�����Ψ, 下载成功. 这首歌曲文件上传一下吗？

[2022-08-17 14:39] IIIIOvOIIII commented on #111
Hi @real-zony
[code]
[22.山海旅人.wav](https://tmp.link/f/62fcfd63d5ee4)

[23.玉盘散流光（PV原版）.wav](https://tmp.link/f/62fcfd674fd53)

[2022-08-26 01:45] kimycai commented on #63
为何双语双行配置时，下载的歌词无法显示双语字幕，是我的播放器问题还是歌词文件问题

[2022-08-26 01:49] kimycai commented on #63
能否增加一个开关，外文歌词+中译歌词在同个时间轴是上下分行显示
比如现在的格式是：
[00:28.02]You and me
[00:28.02]你和我
但是只能显示一种语种，实际可否变成这样：
[00:28.02]You and me （回车）你和我
就是两行显示，但是时间轴只有一个[00:28.02]

[2022-08-26 06:14] kimycai opened #112 "下载非中英文歌曲名的歌词时会出错"
比如歌曲名为纯韩文的歌词时，就下载不了歌词
https://y.qq.com/n/ryqq/songDetail/001PjDvf0INONp
比如这首就不行
也许纯日文的也下载不了
不知道能不能解决？
以下是下载报告，共六首歌，两首是纯韩文的下载失败
--------------------------------------报告--------------------------------------------
[14:02:00 INF] 已经扫描到了 6 个音乐文件。
[14:02:00 INF] 开始加载音乐文件的标签信息...
[14:02:00 INF] 已成功加载 6 个音乐文件的标签信息。
[14:02:00 INF] 开始下载歌词文件数据...
[14:02:01 INF] 歌曲名: Like a Fool, 艺术家: TWICE, 下载成功.
[14:02:01

[2022-08-26 06:17] kimycai commented on #112
我的歌词下载优先级是QQ为1，网易为2

[2022-08-28 07:05] kimycai commented on #99
我的网络映射可以正常访问下载

[2022-09-17 02:59] nissansz opened #113 "为什么ZonyLrcToolsX_Alpha.2022072501_win-x64，exe运行不了？直接退出了。微信nlanguage"
为什么ZonyLrcToolsX_Alpha.2022072501_win-x64，exe运行不了？直接退出了。微信nlanguage

[2022-09-20 15:49] real-zony commented on #113
@nissansz 请参考 README.md ，先打开命令行然后键入命令运行，如果还是不清楚，可以添加 QQ 群 337656932 里面有视频教程。

[2022-09-21 22:12] Jackietiger0320 opened #114 "下载英文歌歌词时能否选择不下载翻译"
zony大佬你好，你的这个项目真的很棒，我已捐赠10元以表谢意
我想问下下载英文歌歌词时能否只下载英文，因为部分翻译是乱码，而且MP3屏幕较小，没有翻译的话观感更好
我也试了下手动删英文但效率太低
网上有一些删除txt中的汉字的代码行但我还是高中生不太会用
如果你有空闲，可否在QQ上向你求助呢

[2022-09-22 04:18] #113 closed, assigned to real-zony

[2022-09-22 07:12] real-zony commented on #112
@kimycai  可能是标签解析器出现的问题，出现这种情况的时候，建议禁用掉 taglib 加载器，并使用文件名作为 tag 来源，配置参考。
[code]

[2022-09-22 07:12] real-zony commented on #112
@kimycai 另外，如果方便的话，能否提供歌曲原始文件？

[2022-09-22 07:15] real-zony commented on #111
@lingxide 临时解决方法是将这些无法正常读取 tag 信息的文件复制到单独的文件夹，并且在标签加载器中禁用掉 taglib，使用文件名解析器。如果不能解决，请重新打开此 Issue。
[code]

[2022-09-22 07:15] #111 closed, assigned to real-zony

[2022-09-22 07:15] #112 closed, assigned to real-zony

[2022-09-22 07:15] #110 closed, assigned to real-zony

[2022-09-22 07:16] real-zony commented on #99
无法复现，请检查是否网络连接是否不稳定，导致程序报错，如果有任何问题请重新打开 Issue。

[2022-09-22 07:16] #99 closed, assigned to real-zony

[2022-09-22 07:24] real-zony commented on #101
@ballballu 最新版本是可以正常下载该歌曲的。
![image](https://user-images.githubusercontent.com/3907132/191684106-c1dd7475-0a94-46ce-9a7f-9bb6950902ac.png)

[2022-09-22 07:24] #101 closed, assigned to real-zony

[2022-09-22 07:25] real-zony commented on #63
@kimycai 现在是展示在一行的。

[2022-09-22 07:25] real-zony commented on #63
@3301152539 默认就是分行的，如果是双语歌词的话。

[2022-09-22 07:25] #63 closed, assigned to real-zony

[2022-09-22 07:53] real-zony commented on #98
感谢你的建议，该功能不是软件的核心功能，后面有精力再去实现。

[2022-09-22 10:03] real-zony commented on #98
网易云音乐是有罗马音翻译，后面会考虑加入该功能。

[2022-09-22 11:52] real-zony commented on #114
@Jackietiger0320  只需要更改 config.yaml 里面的配置，设置不执行翻译操作即可。
[code]

[2022-09-22 11:52] #106 closed, assigned to real-zony

[2022-09-22 11:53] real-zony commented on #100
Resolved.

[2022-09-22 11:53] #100 closed, assigned to real-zony

[2022-09-22 13:21] Jackietiger0320 commented on #114
@real-zony 感谢，这就去试试😍

[2022-09-23 06:33] zlfengshare opened #115 "mac os 12.6 下载歌词提示这个错误怎么办"
下载的是这个版本 ：ZonyLrcTools_osx-x64_2022092248.zip

./ZonyLrcTools.Cli download -d "/Users/kunka/Music/我的音乐" -l -n 2

[14:18:58 INF] 已经扫描到了 134 个音乐文件。
[14:18:59 INF] 开始加载音乐文件的标签信息...
[14:18:59 ERR] 出现了未处理的异常: Unable to load shared library 'mfplat.dll' or one of its dependencies. In order to help diagnose loading problems, consider setting the DYLD_PRINT_LIBRARIES environment variable: dlopen(libmfplat.

[2022-09-23 08:56] real-zony commented on #115
看起来是一个已知 BUG，在最新版本中使用了 NAudio 来获取媒体文件时长，请考虑使用老版本或者虚拟机使用 windows 版本进行下载，下个版本会修复该问题。
详情: https://github.com/naudio/NAudio/issues/516

[2022-09-23 15:26] jexjws commented on #115
WIN10 也出现了类似的问题：

[code]

[2022-09-23 16:22] Necream opened #116 "错误码50005"
![image](https://user-images.githubusercontent.com/99577760/192007350-2ae31ccc-ae5c-4795-8adb-07200a74b4e1.png)

[2022-09-23 16:23] Necream commented on #116
-a -n 2

[2022-09-24 04:10] real-zony commented on #116
@Lisu-Liso 使用的是网易云音乐？有歌曲信息吗？

[2022-09-24 04:10] real-zony commented on #115
@jexjws 有问题歌曲的文件么？

[2022-09-24 04:15] Necream commented on #116
呃，这个问题已经解决了，重新下载了一个版本

[2022-09-24 11:15] #116 closed, assigned to real-zony

[2022-09-24 11:20] real-zony commented on #115
@zlfengshare @jexjws 修复版本已经发布，请到 Release 重新下载。

[2022-09-24 11:20] #115 closed, assigned to real-zony

[2022-09-24 13:17] #114 closed, assigned to real-zony

[2022-10-17 04:00] MasterLover commented on #116
所以怎么解决的

[2022-10-17 04:11] stop-bullshit commented on #116
![image](https://user-images.githubusercontent.com/25337521/196087569-025c5961-9625-41ad-8d0d-2774863b1b56.png)
刚开始好好地然后就挂了，看着像频繁请求导致的，
下面是warn日志，error日志没有
[code]

[2022-10-18 01:25] real-zony commented on #116
@MasterLover 你使用的是最新的 Release 版本吗?

[2022-10-18 01:26] stop-bullshit commented on #116
是的 使用的最新版本

[2022-10-18 01:34] real-zony commented on #116
@MasterLover 对应的歌词文件有生成吗？如果有报错的话，现有逻辑会使用其他下载器继续进行下载操作。

[2022-10-18 01:37] stop-bullshit commented on #116
您好，我看了下 歌词文件生成成功了  只是界面有这个警告。error日志文件里面没有输出   目前不影响使用，感谢回复

[2022-10-27 03:24] Alex6357 opened #117 "显示下载成功但没有找到文件"
执行`./ZonyLrcTools.Cli.exe download -d "文件夹" -l -n 2`之后显示下载成功但是扫遍全盘都找不到下载的文件

[2022-10-27 03:35] Alex6357 commented on #117
重新尝试了一下，似乎只有支持自动滚动的歌词才会被正确保存

[2022-10-27 03:52] real-zony commented on #117
@Alex6357  能否提供无法正常下载的歌曲文件？一首就行。

[2022-10-27 04:32] Alex6357 commented on #117
[陈致逸,HOYO-MiX - Genshin Impact Main Theme 原神.zip](https://github.com/real-zony/ZonyLrcToolsX/files/9875791/HOYO-MiX.-.Genshin.Impact.Main.Theme.zip)
后缀为flac
很有可能是这种“歌词”根本没有时间标志，只是纯粹的txt

[2022-10-27 05:37] real-zony commented on #117
确实是，这种目前会认为是纯音乐，不会写入歌词文件。
[code]

[2022-10-28 04:42] stop-bullshit opened #118 "warn警告"
![image](https://user-images.githubusercontent.com/25337521/198504099-4fe99d8f-971a-434e-ae89-061caf4515e1.png)
提示下载成功，然后warn 警告 序列化失败，尝试过base64解码 不过是乱码

[code]

[2022-10-28 07:14] real-zony commented on #118
@MasterLover 对应的歌曲的歌词是否下载成功呢？可能是对应的歌词源故障了。

[2022-10-28 07:22] stop-bullshit commented on #118
@real-zony  您好，感谢回复，部分歌词下载成功了，日志显示有 50004和50005错误

[2022-10-28 07:28] real-zony commented on #118
@MasterLover 有下载失败的歌曲文件么？能压缩上传1-2首吗？

[2022-10-28 07:41] stop-bullshit commented on #118
[蓝奏云](https://wwb.lanzouy.com/itxGj0eps3of
) 上传了一首歌曲  我再次单独试了一次是无法下载的
![image](https://user-images.githubusercontent.com/25337521/198531903-aabfb353-17fe-4538-949c-1b05a2b5051c.png)

[2022-10-29 09:39] l0rraine opened #119 "想提一个功能，既然可以获取到tag，为什么不直接把tag写入音乐文件呢？"
光有歌词并不能在播放器上完美播放，看着未知很难受

[2022-10-29 14:02] real-zony commented on #119
@l0rraine 默认 Tag 就是从音乐文件获取的，如果获取不到就会从歌曲文件的名称进行解析。

如果你想要的功能是基于歌曲文件名，将歌手/歌名写入到歌曲文件的 Tag 信息里面，使用专业的软件，比如 MP3Tag 可以解决你这个需求。

[2022-10-29 14:03] real-zony commented on #118
@MasterLover OK，我会看一下什么原因。

[2022-10-29 14:07] stop-bullshit commented on #118
@real-zony 感谢回复，有时间看下就行。感谢开源！

[2022-10-30 04:34] tom6781459 opened #120 "win"
win11打开就闪退怎么回事
杀毒软件没看到杀的记录

[2022-10-30 11:14] real-zony commented on #120
@tom6781459 请使用终端打开，以命令行的方式运行，Windows 请使用命令行提示符/PowerShell/终端，按照说明键入命令运行。

[2022-11-18 14:20] #120 closed, assigned to nobody